.BackLink
  display: block
  margin-bottom: 20px
  color: #6A0BFF
  text-align: left
  text-decoration: none
  border: none
  background-color: transparent
  font-family: Manrope
  font-weight: 500
  font-size: 16px
  line-height: 120%
  cursor: pointer
